* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(rgb(79 79 79 / 45%), rgb(24 24 24 / 78%)), url(/images/fondo.png);
    background-attachment: fixed;
    background-size: 100% 100%;
}


/*HEADER*/

.icon-wp {
    position: fixed;
    font-size: 2rem;
    right: 3rem;
    bottom: 3rem;
    transition: 0.5s ease;
}

.icon-wp:hover {
    transform: scale(1.7);
}

.icon-wp i {
    color: #0af130;
}


/* SERVICIOS */

.text-servicio {
    width: 50%;
    display: flex;
    align-items: center;
}

/* FOOTER */

.img-pagos img {
    width: 130px
}

.envios {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.texto-footer {
    margin-top: 2rem;
}

.icons a {
    font-size: 1rem;
    gap: 1rem;
}


/*MEDIAQUERIES*/

@media screen and (max-width:800px) {
    .section1 {
        flex-direction: column;
    }

    .text-servicio {
        width: 100%;
    }

    .reverse {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width:992px) {
    footer h4 {
        font-size: 1rem;
    }

    .acordion-enlace a {
        font-size: 0.7rem;
    }
}

@media screen and (max-width:767px) {
    footer h4 {
        font-size: 1.5rem;
    }

    .acordion-enlace a {
        font-size: 1rem;
    }
}
